@model  WebAPP.Areas.CMS.Models.SelectTourListViewModel

@Html.HiddenFor(o => o.TotalPage)
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Select Tour Name
        </th>
        <th>
            Duration
        </th>
        <th>
            Route
        </th>
        <th>
            Special
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model.LstSelectTour)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourRoute)
            </td>
            <td>
                @item.Special.ToString()
            </td>
            <td>
                @if (item.Remove == true)
                {
                    @Html.ActionLink("Restore", "Restore", new { id = item.SelectTourId }, new { onclick = "return confirm('Are you sure to restore this item ?');" })
                }
                else
                {
                    @(Html.ActionLink("Edit", "Edit", new { id = item.SelectTourId })) @Html.Label(" | ")
                    @(Html.ActionLink("Delete", "Delete", new { id = item.SelectTourId }, new { onclick = "return confirm('Are you sure to delete this item ?');" }))
                }
            </td>
        </tr>
    }

</table>




