@using WebAPP.Common
@model WebAPP.Areas.GUI.Models.PackageTourViewModel
@Html.HiddenFor(o => o.TotalPage)
<title>Package Tour</title>
@foreach (var item in Model.LstPackageTour)
{
    <div class=" row">
        <div class="postimg col-md-4 shrink img">
            <a href="/Package-Tour/@item.TitleUrl/@item.TourId"><img alt="" src="@item.Image"></a>
</div>
        <div class="col-md-8">
            <div class="entry-content">
                <span class="posttitle">
                    <a href="/Package-Tour/@item.TitleUrl/@item.TourId">@item.TourName</a>
                </span>
                <ul>
                    <li>
                        @item.SortDescription
                    </li>
                    <li>
                        @item.Duration
                        <span class="price">
                            - $
                            @if (Model.User != null
                            && (Model.User.Roles.Contains(SecurityRoles.Admin.ToString()) || Model.User.Roles.Contains(SecurityRoles.Agency1.ToString())))
                            {
                                @item.AgencyStandard2
                            }
                            else
                            {
                                if (Model.User != null
                                 && Model.User.Roles.Contains(SecurityRoles.Agency2.ToString()))
                                {
                                    @item.Agency2Standard2
                                }
                                else
                                {
                                    @item.GuestStandard2
                                }
                            }
                        </span>
                    </li>
                    <li>
                        Destination : @item.TourRoute
                    </li>
                </ul>

                <a class="button pull-right" href="/Package-Tour/@item.TitleUrl/@item.TourId">View Detail</a>
            </div>
        </div>
    </div>
            <div class="clear"></div>
}
