@model WebAPP.Areas.CMS.Models.PackageTourListViewModel

@Html.HiddenFor(o=>o.TotalPage)
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Package Tour Name
        </th>
        <th>
           Duration
        </th>
        <th>
            Sort Description
        </th>
        <th>
           Special
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model.LstPackageTour)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortDescription)
            </td>
            <td>
                @item.Special.ToString()
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.TourId}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TourId }, new { onclick = "return confirm('Are you sure to delete this item ?');" }) 
            </td>
        </tr>
    }

</table>


