@using WebAPP.Common
@model WebAPP.Areas.GUI.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GUI/Views/Shared/GuiLayOut.cshtml";
}

<div class="pa">
    <h4>About Us</h4>
    <div class="">
        The sensational ruins of Angkor may be the main attraction, but Cambodia’s exquisite temples, secluded beaches, charming villages and magical markets deserve lots of attention too.
    </div>
</div>

<div class="pa">
    <h4>Indochina</h4>
    <div class="">
        The sensational ruins of Angkor may be the main attraction, but Cambodia’s exquisite temples, secluded beaches, charming villages and magical markets deserve lots of attention too.
    </div>
</div>

<section class="content">
    <div class="caption">
        <span>
            Special Package Tour Offer
        </span>
    </div>

    <article class="post">
        @foreach (var item in Model.LstPackageTour)
        {
            <div class=" row">
                <div class="postimg col-md-4 shrink img">
                    <a href="/Package/DetailPackageTour/@item.TourId"><img alt="" src="@item.Image"></a>
                </div>
                <div class="col-md-8">
                    <div class="entry-content">
                        <span class="posttitle">
                            <a href="/Package/DetailPackageTour/@item.TourId">@item.TourName</a>
                        </span>
                        <ul>
                            <li>
                                @item.SortDescription
                            </li>
                            <li>
                                @item.Duration
                                <span class="price">
                                    - $
                                    @if (Model.User != null
&& (Model.User.Roles.Contains(SecurityRoles.Admin.ToString()) || Model.User.Roles.Contains(SecurityRoles.Agency1.ToString())))
                                    {
                                        @item.AgencyStandard2
                                    }
                                    else
                                    {
                                        if (Model.User != null
                                         && Model.User.Roles.Contains(SecurityRoles.Agency2.ToString()))
                                        {
                                            @item.Agency2Standard2
                                        }
                                        else
                                        {
                                            @item.GuestStandard2
                                        }
                                    }
                                </span>
                            </li>
                            <li>
                                Destination : @item.TourRoute
                            </li>
                        </ul>

                        <a class="button pull-right" href="/Package/DetailPackageTour/@item.TourId">View Detail</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        }
    </article>
</section>



<section class="content">
    <div class="caption">
        <span class="">Special Select Tour Offer</span>
    </div>
    <article class="post">
        @foreach (var item in Model.LstSelectTour)
        {
            <div class=" row">
                <div class="postimg col-md-4 shrink img">
                    <a href="/SelectTour/DetailSelectTour/@item.SelectTourId"><img alt="" src="@item.Image"></a>
                </div>
                <div class="col-md-8">
                    <div class="entry-content">
                        <span class="posttitle">
                            <a href="/SelectTour/DetailSelectTour/@item.SelectTourId">@item.TourName</a>
                        </span>
                        <ul>
                            <li>
                                @item.SortDescription
                            </li>
                            <li>
                                @item.Duration
                                <span class="price">
                                    - $
                                    @if (Model.User != null
&& (Model.User.Roles.Contains(SecurityRoles.Admin.ToString()) || Model.User.Roles.Contains(SecurityRoles.Agency1.ToString())))
                                    {
                                        @item.AgencyStandard2
                                    }
                                    else
                                    {
                                        if (Model.User != null
                                         && Model.User.Roles.Contains(SecurityRoles.Agency2.ToString()))
                                        {
                                            @item.Agency2Standard2
                                        }
                                        else
                                        {
                                            @item.GuestStandard2
                                        }
                                    }
                                </span>
                            </li>
                            <li>
                                Destination : @item.TourRoute
                            </li>
                        </ul>

                        <a class="button pull-right" href="/SelectTour/SelectTour/@item.SelectTourId">View Detail</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        }
    </article>

</section>

