@model WebAPP.Areas.GUI.Models.SelectTourViewModel
@{
    ViewBag.Title = "PackageTourEnquiry";
    Layout = "~/Areas/GUI/Views/Shared/GuiLayOut.cshtml";
}
<head>
    @Styles.Render("~/bundles/BootstrapDatetimeStyle")
    @Scripts.Render("~/bundles/BootstrapDatetimeJs")
    <title>Select Tour</title>
</head>
<section class="content">
    <div class="caption">
        <span>
            Enquiry
        </span>
    </div>
    <article class="post">
        <div class="">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>

        <h3 class="attribute" style="color: #DB531A">Your tour information</h3>

        <div class="form-horizontal">
            <div class="form-group" style="margin-bottom: 5px;">
                <span class="col-md-2 ">Tour Name:</span>
                <span class="">The best nothest of Viet Nam - 7 Days </span>
            </div>

            <div class="form-group" style="margin-bottom: 5px;">
                <span class="col-md-2">Tour Length:</span>
                <span class="control-label">The best nothest of Viet Nam - 7 Days </span>
            </div>

            <div class="form-group" style="margin-bottom: 5px;">
                <span class="col-md-2 ">Tour Roules:</span>
                <span class="control-label">Ha Noi - Ha Nam - Ninh Binh - Thanh Hoa - Nghe An - Ha Tinh - Quang Binh - Quang Tri </span>
            </div>
        </div>


        <div class="form-horizontal" style="margin-top: 20px;">
            <div class="form-group">
                <span class="col-md-2 ">Departure Date:</span>
                <div class="col-md-3" style="padding: 0px;">
                    @Html.TextBox("DepartureDate")
                    <script type="text/javascript">
                        $(function () {
                            $(function () {
                                $("#DepartureDate").datetimepicker({
                                    useCurrent: true,
                                    calendarWeeks: true,
                                    viewMode: "days",
                                    format: "DD/MM/YYYY",
                                    locale: "en",
                                    showTodayButton: true
                                });
                            });
                        });
                    </script>
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2 ">Tour Class:</span>
                <div class="col-md-3" style="padding: 0px;">@Html.DropDownList("TourClass", new SelectList(Model.ListTourClass, "Id", "Name"), "--------")</div>
            </div>

            <div class="form-group">
                <span class="col-md-12 " style="margin-bottom: 10px;">Number Of Travel Partners (include your self):</span>
                <div class="col-md-2" style="margin-right: 20px;">@Html.DropDownList("TravelPart1", new SelectList(Model.ListTourClass, "Id", "Name"), "--------")</div>
                <div class="col-md-2" style="margin-right: 20px;">@Html.DropDownList("TravelPart2", new SelectList(Model.ListTourClass, "Id", "Name"), "--------")</div>
                <div class="col-md-2" style="margin-right: 20px;">@Html.DropDownList("TravelPart3", new SelectList(Model.ListTourClass, "Id", "Name"), "--------")</div>
                <div class="col-md-2" style="">@Html.DropDownList("TravelPart4", new SelectList(Model.ListTourClass, "Id", "Name"), "--------")</div>
            </div>
        </div>


        <div class="form-horizontal" style="margin-top: 20px;">
            <div class="form-group">
                <span class="col-md-2 ">Billing Options:</span>
                <div class="col-md-2" style="padding: 0px;">
                    @Html.RadioButton("BillingOptions", "BankTransfer") Bank Transfer
                </div>
                <div class="col-md-2" style="padding: 0px;">
                    @Html.RadioButton("BillingOptions", "Creadit Card") Creadit Card
                </div>
                <div class="col-md-2" style="padding: 0px;">
                    @Html.RadioButton("BillingOptions", "Other") Other
                </div>
            </div>
        </div>


        <div class="form-horizontal" style="margin-top: 20px;">
            <div class="form-group">
                <span class="col-md-12 " style="margin-bottom: 10px;">What additional plans or ideas do you have for your itinerary?</span>
                <div class="col-md-12" style="">
                    @Html.TextArea("AddPlan", null, new { @Style = "height:100px" })
                </div>
            </div>
        </div>
    </article>

    <article class="post">
        <h3 class="attribute" style="color: #DB531A">Your Contact information</h3>

        <div class="form-horizontal" style="margin-top: 20px;">
            <div class="form-group">
                <span class="col-md-2 " style="margin-bottom: 10px;">Full Name:</span>
                <div class="col-md-8" style="padding: 0px;">
                    @Html.TextBox("AddPlan")
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2 ">Billing Options:</span>
                <div class="col-md-1" style="padding: 0px;">
                    @Html.RadioButton("BillingOptions", "Male") Male
                </div>
                <div class="col-md-1" style="padding: 0px;">
                    @Html.RadioButton("BillingOptions", "Female") Famale
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2 ">Date Of Birth:</span>
                <div class="col-md-3" style="padding: 0px;">
                    @Html.TextBox("DateOfBirth")
                    <script type="text/javascript">
                        $(function () {
                            $(function () {
                                $("#DateOfBirth").datetimepicker({
                                    useCurrent: true,
                                    calendarWeeks: true,
                                    viewMode: "days",
                                    format: "DD/MM/YYYY",
                                    locale: "en",
                                    showTodayButton: true
                                });
                            });
                        });
                    </script>
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2 " style="margin-bottom: 10px;">Address:</span>
                <div class="col-md-8" style="padding: 0px;">
                    @Html.TextBox("Address")
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2 " style="margin-bottom: 10px;">City:</span>
                <div class="col-md-8" style="padding: 0px;">
                    @Html.TextBox("City")
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2 " style="margin-bottom: 10px;">Country:</span>
                <div class="col-md-3" style="padding: 0px;">
                    @Html.DropDownList("Country", new SelectList(Model.ListTourClass, "Id", "Name"), "--------")
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2 " style="margin-bottom: 10px;">Email:</span>
                <div class="col-md-8" style="padding: 0px;">
                    @Html.TextBox("Email")
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2 " style="margin-bottom: 10px;">Phone:</span>
                <div class="col-md-8" style="padding: 0px;">
                    @Html.TextBox("Phone")
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2 " style="margin-bottom: 10px;"></span>
                <div class="col-md-8" style="padding: 0px;">
                    <a class="button pull-right" style="margin-left: 10px" href="single.html">Submit</a>
                    <a class="button pull-right" href="single.html">Reset</a>
                </div>
            </div>
        </div>
    </article>
</section>

